[Unit]
Description=DogsBotService
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/DogsHouseRefBot/
Environment=PATH=/home/ubuntu/DogsHouseRefBot/venv/bin/
ExecStart=/home/ubuntu/DogsHouseRefBot/venv/bin/python3 /home/ubuntu/DogsHouseRefBot/main.py -a 2

Restart=always

[Install]
WantedBy=multi-user.target
