[Unit]
Description=DogsHouseRefBotService
After=network.target

[Service]
User=root
WorkingDirectory=/root/DogsHouseRefBot/
Environment=PATH=/root/DogsHouseRefBot/venv/bin/
ExecStart=/root/DogsHouseRefBot/venv/bin/python3 /root/DogsHouseRefBot/main.py -a 1

Restart=always

[Install]
WantedBy=multi-user.target
